*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: white;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#localVideo {
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#remoteVideo {
    position: absolute;
    bottom: 10rem;
    right: 2rem;
    width: 8rem;
    height: 10rem;
    background-color: grey;
    z-index: 2;
}

#dock {
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 1;
    height: 120px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 10px;
}

#buttons {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding: 0 5px;
    scroll-behavior: smooth;
    align-items: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin: 0.3rem;
}

/* change to .button-wrapper button */
#buttons button {
    display: inline-block;
    min-width: 60px;
    min-height: 60px;
    flex-shrink: 0;
    margin: 0.2em 0.1em;
    border-radius: 50%;
}

button i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#buttons .button-label {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.8);
}